In [ ]:
"""
Dataset: https://www.kaggle.com/kumarajarshi/life-expectancy-who

Build a linear regression model and a polynomial regression model that predicts the life expectancy of a person based on their characteristics. Determine which model best fits the data.
"""

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
filepath = 'https://static.junilearning.com/ai_level_2/life_expectancy.csv'
# dataset: https://www.kaggle.com/kumarajarshi/life-expectancy-who
data = pd.read_csv(filepath)
data = data.drop('Country', axis=1)
data = data.drop('Status', axis=1)
data.dropna(inplace=True)

In [ ]:
data

      Year  Life expectancy   ...  Income composition of resources  Schooling
0     2015              65.0  ...                            0.479       10.1
1     2014              59.9  ...                            0.476       10.0
2     2013              59.9  ...                            0.470        9.9
3     2012              59.5  ...                            0.463        9.8
4     2011              59.2  ...                            0.454        9.5
...    ...               ...  ...                              ...        ...
2933  2004              44.3  ...                            0.407        9.2
2934  2003              44.5  ...                            0.418        9.5
2935  2002              44.8  ...                            0.427       10.0
2936  2001              45.3  ...                            0.427        9.8
2937  2000              46.0  ...                            0.434        9.8

[1649 rows x 20 columns]

In [ ]:
X = np.array(data.drop('Life expectancy ', axis=1))
y = np.array(data['Life expectancy '])

In [ ]:
X

array([[2.015e+03, 2.630e+02, 6.200e+01, ..., 1.730e+01, 4.790e-01,
        1.010e+01],
       [2.014e+03, 2.710e+02, 6.400e+01, ..., 1.750e+01, 4.760e-01,
        1.000e+01],
       [2.013e+03, 2.680e+02, 6.600e+01, ..., 1.770e+01, 4.700e-01,
        9.900e+00],
       ...,
       [2.002e+03, 7.300e+01, 2.500e+01, ..., 1.300e+00, 4.270e-01,
        1.000e+01],
       [2.001e+03, 6.860e+02, 2.500e+01, ..., 1.700e+00, 4.270e-01,
        9.800e+00],
       [2.000e+03, 6.650e+02, 2.400e+01, ..., 1.120e+01, 4.340e-01,
        9.800e+00]])

In [ ]:
y

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
model = LinearRegression()
model.fit(x_train, y_train)
accuracy = model.score(x_test, y_test)
print("Score: " + str(accuracy * 100) + " %")
print()

Score: 81.93137674341263 %

In [ ]:
x_modified = PolynomialFeatures(degree=2, include_bias=False).fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(x_modified, y, test_size=0.25, random_state=42)
X = np.array(data.drop('Life expectancy ', axis=1))
y = np.array(data['Life expectancy '])
model.fit(x_train, y_train)
accuracy = model.score(x_test, y_test)
print("Score: " + str(accuracy * 100) + " %")
print()

Score: 37.36720402022073 %